
html,
body {
  height: 100%;
}

.container{	
	margin-top: 10px;	
	padding: 5px;	
}

.dateText{
	margin-left: 1em;
	color: #000;
	font-size: 20px;
	font-weight: bold;
}

.row{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.day{
	width: 13.9%;
	display: inline-block;	
	text-align: center;
}

#headCalendar .day{
	font-size: 100%;
	font-weight: bold;
}

#bodyCalendar .day{		
	margin-bottom: 4px;	
	background: #003366;		
	padding: 3%;
	margin: 1px;

	font-size: 200%;		
	font-weight: bolder;
	color: #fff;
}

#bodyCalendar .outroMes{
	color: #000a1a;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  
  	.headCalendar .day{
		font-size: 70%;
		font-weight: bold;
	}

  	.day{
		width: 13%;
		display: inline-block;	
		text-align: center;
	}
}